## Exercícios com PANDAS
Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil.

### 1.Carregando os dados

In [ ]:
import pandas as pd

df1 = pd.read_csv('dados_gasolina2000.csv', index_col = 0)  
# Lê o arquivo CSV 'gasolina_2000+.csv' e armazena os dados em um DataFrame chamado df1.
# O parâmetro index_col = 0 define a primeira coluna do arquivo como o índice (index) do DataFrame.

df2 = pd.read_csv('dados_gasolina_2010.csv', index_col = 0)  
# Lê o arquivo CSV 'gasolina_2010+.csv' e armazena os dados em um DataFrame chamado df2.
# Assim como na linha anterior, a primeira coluna do arquivo será usada como o índice do DataFrame.

### Analisando a estrutura dos dados

### . Carregue os conjuntos de dados "dados_gasolina2000.csv" e "dados_gasolina_2010.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [ ]:
df = pd.concat([df1, df2])  
# Concatena os DataFrames df1 e df2, combinando suas linhas.
# Isso resulta em um novo DataFrame chamado df, que contém os dados de ambos os arquivos CSV.

C:\Users\Avell G1565\AppData\Local\Temp\ipykernel_15620\2422935058.py:5: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('gasolina_2010+.csv', index_col = 0)

### .Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [4]:
df.head() # Exibe as primeiras 5 linhas do DataFrame

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [ ]:
df.info() # Exibe informações resumidas

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### . Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [6]:
df['DATA INICIAL'].head(5)  # retorna uma Series contendo os 5 primeiros valores da coluna 'DATA INICIAL'.

0    2004-05-09
1    2004-05-09
2    2004-05-09
3    2004-05-09
4    2004-05-09
Name: DATA INICIAL, dtype: object

### . Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

### . Crie uma nova coluna para representar o ano e o mês(mm-aaaa), utilizando a coluna DATA FINAL como referência.

In [8]:
# Cria a coluna 'ANO MES' combinando o ano e o mês da coluna 'DATA FINAL' no formato 'MM/YYYY', com o mês preenchido com dois dígitos
df['MÊS/ANO'] = df['DATA FINAL'].apply(lambda x: str(x.month).zfill(2) + '/' + str(x.year))

### . Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
df.columns  # Exibe os nomes das colunas do DataFrame `df`

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'MÊS/ANO'],
      dtype='object')

In [10]:
df['PRODUTO'].value_counts() # Conta a frequência de cada valor único na coluna 'PRODUTO' do DataFrame `df`

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### . Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [11]:
# Cria uma série booleana onde cada valor é True se a coluna 'PRODUTO' for igual a 'GASOLINA COMUM', e False caso contrário
df_filtro_gasolina = df['PRODUTO'] == 'GASOLINA COMUM'

# Filtra o DataFrame `df`, mantendo apenas as linhas onde `df_filtro_gasolina` é True (ou seja, onde o produto é 'GASOLINA COMUM')
df3 = df[df_filtro_gasolina]
df3

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS/ANO
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,05/2004
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,05/2004
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,05/2004
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,05/2004
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,05/2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,05/2021
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,05/2021
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,05/2021
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,05/2021
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,05/2021

### . Qual o preço médio de revenda da gasolina em agosto de 2008?

In [12]:
# Filtra o DataFrame `df3` para obter as linhas onde a coluna 'MÊS/ANO' é igual a '08/2008'
# Em seguida, seleciona a coluna 'PREÇO MÉDIO REVENDA' e calcula a média desses valores
media_preco_revenda = df3[df3['MÊS/ANO'] == '08/2008']['PREÇO MÉDIO REVENDA'].mean()
media_preco_revenda

np.float64(2.6012444444444442)

### . Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [13]:
media_SP = df3[(df3['MÊS/ANO'] == '05/2014') & (df3['ESTADO'] == 'SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()
media_SP

np.float64(2.8822)

### . Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [14]:
df3[df3['PREÇO MÉDIO REVENDA'] > 5][['ESTADO', 'MÊS/ANO', 'PREÇO MÉDIO REVENDA']].head(20)

                ESTADO  MÊS/ANO  PREÇO MÉDIO REVENDA
98201             ACRE  05/2018                5.053
98347             ACRE  06/2018                5.035
98493             ACRE  06/2018                5.038
98511   RIO DE JANEIRO  06/2018                5.016
98646             ACRE  06/2018                5.031
98797             ACRE  06/2018                5.036
98948             ACRE  06/2018                5.039
99098             ACRE  07/2018                5.021
99247             ACRE  07/2018                5.042
99398             ACRE  07/2018                5.038
99549             ACRE  07/2018                5.033
99701             ACRE  08/2018                5.031
99852             ACRE  08/2018                5.015
100003            ACRE  08/2018                5.023
100153            ACRE  08/2018                5.036
100302            ACRE  09/2018                5.018
100453            ACRE  09/2018                5.074
100604            ACRE  09/2018                5.129
100756            ACRE  09/2018                5.153
100774  RIO DE JANEIRO  09/2018                5.036

### . Qual a média de preço dos estados da região sul em 2012?

In [15]:
df_aux_2012 = df3[df3['DATA FINAL'].apply(lambda x: x.year == 2012)]
df_aux_2012[df_aux_2012['REGIÃO'] == 'SUL']['PREÇO MÉDIO REVENDA'].mean()

np.float64(2.7214423076923073)

### . Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [16]:
df3.loc[:,'MÊS'] = df3['DATA FINAL'].apply(lambda x: x.month)
df_rio = df3[df3['ESTADO'] == 'RIO DE JANEIRO']
df_mes_rio = df_rio.groupby('MÊS/ANO')[['PREÇO MÉDIO REVENDA', 'MÊS']].last()
(df_mes_rio[df_mes_rio['MÊS'] == 12] / df_mes_rio[df_mes_rio['MÊS'] == 12].shift(1) -1 ) * 100

C:\Users\Avell G1565\AppData\Local\Temp\ipykernel_15620\3736618983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.loc[:,'MÊS'] = df3['DATA FINAL'].apply(lambda x: x.month)

         PREÇO MÉDIO REVENDA  MÊS
MÊS/ANO
12/2004                  NaN  NaN
12/2005             9.233449  0.0
12/2006             0.917065  0.0
12/2007             0.355591  0.0
12/2008             0.984252  0.0
12/2009             1.637427  0.0
12/2010             2.032988  0.0
12/2011             7.105263  0.0
12/2012             0.982801  0.0
12/2013             6.777894  0.0
12/2014             4.361979  0.0
12/2015            20.461634  0.0
12/2016             3.625065  0.0
12/2017            13.643178  0.0
12/2018             5.804749  0.0
12/2019             3.802993  0.0
12/2020            -1.321321  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [17]:
# pd.set_option('display.max_rows', None)
df3['ANO/MÊS'] = df3['DATA FINAL'].apply(lambda x: str(x.year) + '/' + str(x.month).zfill(2))    

df_maximo = df3.groupby('ANO/MÊS').max()['PREÇO MÉDIO REVENDA']
df_minimo = df3.groupby('ANO/MÊS').min()['PREÇO MÉDIO REVENDA']

indice_maximo = df3.groupby('ANO/MÊS')['PREÇO MÉDIO REVENDA'].idxmax()
indice_minimo = df3.groupby('ANO/MÊS')['PREÇO MÉDIO REVENDA'].idxmin()

df_diferenca = pd.DataFrame()
df_diferenca['DIFERENÇA ABSOLUTA'] = df_maximo - df_minimo
df_diferenca['DIFERENÇA PERCENTUAL'] = ((df_maximo - df_minimo) / df_minimo) * 100

df_diferenca['MÁXIMO'] = df_maximo
df_diferenca['MÍNIMO'] = df_minimo

df_diferenca['MÁXIMO POR ESTADO'] = df3.loc[indice_maximo, :]['ESTADO'].values
df_diferenca['MÍNIMO POR ESTADO'] = df3.loc[indice_minimo, :]['ESTADO'].values

df_diferenca.head()

C:\Users\Avell G1565\AppData\Local\Temp\ipykernel_15620\2156466712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['ANO/MÊS'] = df3['DATA FINAL'].apply(lambda x: str(x.year) + '/' + str(x.month).zfill(2))

,DIFERENÇA ABSOLUTA,DIFERENÇA PERCENTUAL,MÁXIMO,MÍNIMO,MÁXIMO POR ESTADO,MÍNIMO POR ESTADO
ANO/MÊS,,,,,,
2004/05,0.550,29.131356,2.438,1.888,ACRE,SAO PAULO
2004/06,0.584,30.543933,2.496,1.912,MATO GROSSO,SAO PAULO
2004/07,0.609,31.456612,2.545,1.936,ACRE,DISTRITO FEDERAL
2004/08,0.530,26.108374,2.560,2.030,MATO GROSSO,SAO PAULO
2004/09,0.539,26.538651,2.570,2.031,ACRE,SAO PAULO

In [18]:
df_diferenca['MÁXIMO POR ESTADO'].value_counts()

MÁXIMO POR ESTADO
ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: count, dtype: int64

In [19]:
df_diferenca['MÍNIMO POR ESTADO'].value_counts()

MÍNIMO POR ESTADO
SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
BAHIA                   2
CEARA                   2
Name: count, dtype: int64